@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(/font/pretendard/Pretendard-Bold.woff2) format("woff2"), url(/font/pretendard/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(/font/pretendard/Pretendard-Regular.woff2) format("woff2"), url(/font/pretendard/Pretendard-Regular.woff) format("woff");
}
* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
* a {
  text-decoration: none;
  color: inherit;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  width: 260px;
  height: 50px;
  padding: 12px 20px;
  border: 1px dashed #000;
  border-radius: 8px;
  font-size: 16px;
}
input::-moz-placeholder {
  color: #aaa;
}
input::placeholder {
  color: #aaa;
}

.add-form__item-detail > li {
  height: 40px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.add-form__item-detail > li > p {
  width: 74px;
}
.add-form__item-detail .input-detail {
  width: 50px;
  height: 40px;
  padding: 10px 0 0 0;
  text-align: center;
  border: none;
  border-bottom: 1px dashed #000;
  border-radius: 0;
}

button {
  height: 40px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
button[type=submit] {
  height: 50px;
  padding: 10px 40px;
  border: 1px solid #3881f1;
  color: #3881f1;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-left: auto;
}

.button-group {
  justify-content: center;
}
.button-group button {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
  padding: 0 24px;
  border: 1px solid #000;
}
.button-group button img {
  width: 14px;
}

.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.custom-select + .custom-select {
  margin-left: 26px;
}
.custom-select__selected {
  width: 260px;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 10px;
  border: 1px dashed #000;
  display: flex;
  justify-content: space-between; /* 왼쪽은 텍스트, 오른쪽은 화살표 */
  align-items: center;
}
.custom-select__selected.disabled {
  color: #aaa; /* 회색으로 표시 */
  cursor: default; /* 커서 스타일 변경 */
}
.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 8px;
  padding: 4px 0;
  background: #fff;
  border: 1px dashed #000;
  border-radius: 10px;
  z-index: 100;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.custom-select__options:empty {
  border: none;
  padding: 0;
  height: 0;
}
.custom-select__option {
  padding: 10px 20px;
  cursor: pointer;
}
.custom-select__option:hover {
  background: #f5f5f5;
}

.custom-select.open .custom-select__options {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.custom-select.open .custom-select__selected.disabled + .custom-select__options {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

textarea {
  resize: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px dashed #000;
  border-radius: 8px;
}
textarea:focus {
  outline: none;
}

header {
  margin: 0 auto;
  width: 94%;
  max-width: 1600px;
  height: 100px;
  border-bottom: 1px dashed #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
header nav li {
  margin-bottom: 2px;
}
header nav li a {
  position: relative;
  padding-bottom: 2px;
}
header nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
}
header nav li a.active::after {
  animation: underline-grow 0.3s forwards;
}

@keyframes underline-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
main {
  width: 94%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 100px;
}
main .section-header {
  padding: 50px 0;
  display: flex;
  gap: 10px;
}
main .section-header__title {
  font-size: 32px;
}
main .section-header__icon {
  width: 14px;
  height: 14px;
}

.closet .closet__nav {
  margin-bottom: 36px;
}
.closet .closet__nav button {
  margin-right: 20px;
}
.closet .closet__nav .closet__nav-button {
  border: 1px solid #e0e0e0;
  font-size: 18px;
  cursor: pointer;
}
.closet .closet__nav .closet__nav-button--active {
  border: 1px solid #000;
}
.closet .closet__box {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}
.closet .closet__box .closet__list {
  flex-grow: 1;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}
.closet .closet__box .closet__list--active {
  display: grid;
}
.closet .closet__box .closet__list .closet__item {
  padding: 10px 0;
  width: 120px;
  height: 140px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.closet .closet__box .closet__list .closet__item .closet__item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.closet .closet__box .closet__list .closet__item .closet__item-image {
  width: 40px;
  height: 40px;
}
.closet .closet__box .closet__list .closet__item.closet__item--active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 10px;
}
.closet .closet__box .closet__detail {
  padding: 10px 20px;
  width: 260px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 12px;
}
.closet .closet__box .closet__detail .closet__detail__header {
  margin-bottom: 20px;
}
.closet .closet__box .closet__detail .closet__detail__header .closet__detail__header-right {
  text-align: right;
  margin-bottom: 10px;
}
.closet .closet__box .closet__detail .closet__detail__header .closet__detail__header-left {
  display: flex;
  flex-direction: column;
}
.closet .closet__box .closet__detail .closet__detail__header .closet__detail__header-left .closet__detail__color {
  margin-top: 10px;
  width: 80px;
  height: 24px;
}
.closet .closet__box .closet__detail .closet__detail__header .closet__detail__header-left .closet__detail__title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
}
.closet .closet__box .closet__detail .closet__detail__info .closet__detail__info__item {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #000;
}
.closet .closet__box .closet__detail .closet__detail__info .closet__detail__info__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.closet .closet__box .closet__detail .closet__detail__info .closet__detail__info__item .closet__detail__image {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 64px;
  height: 64px;
}
.closet .closet__box .closet__detail .closet__detail__info .closet__detail__info__item .closet__detail__label {
  font-weight: bold;
  width: 70px;
}
.closet .closet__box .closet__detail .closet__detail__info .closet__detail__info__item .closet__detail__value {
  width: 90%;
}
.closet .closet__box .closet__detail .closet__detail__info .closet__detail__info__item .closet__detail__size-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-form {
  display: flex;
  gap: 10rem;
}
.add-form .add-form__item {
  margin-bottom: 28px;
}
.add-form .add-form__item:last-child {
  margin-bottom: 0;
}
.add-form .add-form__item .add-form__item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.add-form .add-form__items {
  display: flex;
  gap: 26px;
}

.color-select {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
.color-select__item {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}
.color-select__item[data-color=white] {
  border: 1px solid #000000;
}
.color-select__item:hover {
  transform: scale(1.1);
}
.color-select__item.selected {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px;
}/*# sourceMappingURL=main.css.map */