@use "../abstracts/mixins" as mix;

.add-form {
  display: flex;
  gap: 10rem;

  @include mix.tablet {
    flex-direction: column;
    gap: 2rem;
  }

  @include mix.mobile {
    font-size: 12px;
  }

  .add-form__item {
    margin-bottom: 28px;
    @include mix.tablet {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .add-form__item-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
      @include mix.mobile {
        font-size: 14px;
        margin-bottom: 12px;
      }
    }
  }
  .add-form__items {
    display: flex;
    gap: 26px;

    .custom-select {
      @include mix.tablet {
        width: 100%;
      }
    }
    > div {
      @include mix.tablet {
        width: 40%;
      }
    }
  }
}

.color-select {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;

  &__item {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
    position: relative;
    @include mix.mobile {
      margin-top: 20px;
    }
    &[data-color="white"] {
      border: 1px solid #000000;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.selected {
      box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px;

      &::after {
        content: attr(data-color);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 8px;
        font-size: 14px;
        white-space: nowrap;
        opacity: 0;
        color: var(--text-color);
        animation: textAppear 0.2s forwards, textReveal 1s forwards;
      }
    }

    // 각 색상별 텍스트 색상 설정
    &[data-color="black"].selected::after {
      --text-color: #000000;
    }
    &[data-color="white"].selected::after {
      --text-color: #000000;
    }
    &[data-color="charcoal"].selected::after {
      --text-color: #585858;
    }
    &[data-color="gray"].selected::after {
      --text-color: #cecece;
    }
    &[data-color="beige"].selected::after {
      --text-color: #f4d4a0;
    }
    &[data-color="khaki"].selected::after {
      --text-color: #197727;
    }
    &[data-color="light-blue"].selected::after {
      --text-color: #a8aff8;
    }
    &[data-color="navy"].selected::after {
      --text-color: #2a11b8;
    }
    &[data-color="brown"].selected::after {
      --text-color: #8f6b31;
    }
    &[data-color="red"].selected::after {
      --text-color: #ff0004;
    }
    &[data-color="blue"].selected::after {
      --text-color: #4d00ff;
    }
    &[data-color="yellow"].selected::after {
      --text-color: #fff600;
    }
    &[data-color="green"].selected::after {
      --text-color: #17d033;
    }
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes textReveal {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
