@use "../abstracts/mixins" as mix;

.add-form {
  display: flex;
  gap: 10rem;

  @include mix.tablet {
    flex-direction: column;
    gap: 2rem;
  }

  @include mix.mobile {
    font-size: 12px;
  }

  .add-form__item {
    margin-bottom: 28px;
    @include mix.tablet {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .add-form__item-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
      @include mix.mobile {
        font-size: 14px;
        margin-bottom: 12px;
      }
    }
  }
  .add-form__items {
    display: flex;
    gap: 26px;

    .custom-select {
      @include mix.tablet {
        width: 100%;
      }
    }
    > div {
      @include mix.tablet {
        width: 40%;
      }
    }
  }
}

.color-select {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;

  &__item {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;

    // 흰색 버튼의 경우 테두리 추가
    &[data-color="white"] {
      border: 1px solid #000000;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.selected {
      box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px;
    }
  }
}
