.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;

  & + & {
    margin-left: 30px; // 원하는 간격으로 조정 가능
  }

  &__selected {
    width: 230px;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    border-radius: 10px;
    border: 1px dashed #000;
    display: flex;
    justify-content: space-between; /* 왼쪽은 텍스트, 오른쪽은 화살표 */
    align-items: center;

    // 비활성화된 상태 스타일 추가
    &.disabled {
      color: #aaa; /* 회색으로 표시 */
      cursor: default; /* 커서 스타일 변경 */
    }
  }

  &__options {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    // padding: 0 20px;
    background: #fff;
    border: 1px dashed #000;
    border-radius: 10px;
    display: none; /* 기본적으로 숨김 */

    // 빈 옵션 목록 스타일 추가
    &:empty {
      border: none;
      padding: 0;
      height: 0;
    }

    &.open {
      display: block; /* .open 클래스가 추가되면 보여짐 */
    }

    .custom-select__option {
      padding: 10px 10px;
      cursor: pointer;
      // &:hover {
      //   background: #f0f0f0;
      // }
    }
  }

  &.open .custom-select__options {
    display: block; /* .open이 추가되면 드롭다운을 보여줌 */
  }

  // 비활성화 상태에서는 옵션 목록이 열리지 않도록 추가
  &.open .custom-select__selected.disabled + .custom-select__options {
    display: none;
  }
}
