* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  a {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: inherit;
  }
}

/* iOS에서 링크와 버튼의 기본 파란색 제거 */
button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

label {
  display: block;
}
